<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 17:32:06</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 17:31:54</td>   <td>-11699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 17:31:54</td>   <td>-11693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 17:31:54</td>   <td>-11850</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 17:32:06</td>   <td>-168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/03/03 17:31:54</td>   <td>-11705</td> <td>&nbsp;</td><td title="&gt;&gt;TC_001.setData()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/03/03 17:32:00</td>   <td>-5556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001.verifyVendorName()[pri:0, instance:com.framework.testcases.TC_001@5383967b]">verifyVendorName</td> 
  <td>main@1857815974</td>   <td></td> </tr>
</table>
